{% extends 'layouts/base.html' %}

{% load static %}

{% block head %}
<title>Rechazar solicitud</title>
<link rel="stylesheet" href="{% static 'styles/rejactPetition.css' %}">
{% endblock %}



{% block content %}

<h1>Asignar Gestor a Solicitud</h1>
<form method="POST">
    {% csrf_token %}
    <label for="user">Seleccionar gestor que se encargará de administrar la solcitud:</label>
    <select name="user" id="user">
        {% for user in users %}
            {% for group in user.groups.all %}
                {% if group.name == "Gestor de Contratacion" %}
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </select>
    <p></p>
    
    <div>
        <button type="submit" name="cancel" class="rejact">Cancelar</button>
        <button type="submit" name="assign" class="cancel">Asignar Gestor</button>
        <div class="info-box">
            <ul>
                <li><small>Solo se puede asignar un gestor a una solicitud</small></li>
                <li><small>El gestor asignado será el único encargado de completar la solicitud</small></li>
            </ul>
            
        </div>
    </div>


</form>

{% endblock %}