{% extends "layouts/base.html" %}

{% load static %}

{% block content %}
<div class="cardContainer">
    <link rel="stylesheet" href="{% static 'styles/petitionStyle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/editPetition.css' %}">
    <div class="textContainer">
    <h1>Crear Nueva Tarea</h1>
    <p></p>
    <p class="p1" >Escribe la descripción de la tarea que el gestor encargado podrá visualizar</p>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
</div>
{% endblock %}
