{% extends 'layouts/base.html' %}

{% load static %}

{% block head %}
<title>Eliminar Tarea</title>
<link rel="stylesheet" href="{% static 'styles/editPetition.css' %}">
<link rel="stylesheet" href="{% static 'styles/rejactPetition.css' %}">
{% endblock %}

{% block content %}
<div class="cardContainer">
    <h1 class = "h1Black">¿Estás seguro de eliminar la Tarea?</h1>
    <form method="post">
        {% csrf_token %}
        <div class="buttons-rejact">
            <button name="cancelar" class="cancel">Cancelar</button>
        <button type="submit" name="eliminar" class="rejact">Eliminar</button>
        </div>
    </form>
</div>
{% endblock %}
