{% extends "layouts/base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/petitionStyle.css' %}">
<link rel="stylesheet" href="{% static 'styles/editPetition.css' %}">

<div class="cardContainer">

<h1>Editar Tarea Predeterminada</h1>
<p></p>
<div class="textContainer">
    <p class="p1" > Escribe la nueva descripción de la tarea que el gestor encargado pordrá visualizar</p>
    </div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="buttons" >
        <div class="divButton">
            <button name="cancelar" class="cancel">Cancelar</button>
        </div>
        <div class="divButton">
            <button type="submit">Guardar Cambios</button>
        </div>
    </div>

</form>

</div>

{% endblock  %}