{% extends 'layouts/base.html' %}

{% load static %}

{% block head %}
<title>Crear solicitudddd</title>
{% endblock %}



{% block content %}
<link rel="stylesheet" href="{% static 'styles/editPetition.css' %}">

<h1>Detalles de la Solicitud</h1>
<h3>Tipo de contrato: {{ solicitud.getPetitionType }}</h3>
<p>Fecha de Solicitud: {{ solicitud.petitionDate }}</p>
<p>Fecha de Inicio: {{ solicitud.startDate }}</p>
<p>Fecha de Fin: {{ solicitud.endDate }}</p>
<p>Estado: {{ solicitud.state }}</p>
<p>Cenco: {{ solicitud.cenco }}</p>
<p>Nombre Completo: {{ solicitud.fullName }}</p>
<p>Documento de Identidad: {{ solicitud.identityDocument }}</p>
<p>Correo Electrónico: {{ solicitud.email }}</p>
<p>Número de Teléfono: {{ solicitud.phoneNumber }}</p>

{% if solicitud.petitionType %}
<!-- Detalles específicos de Other -->
<p>Tipo de Solicitud: {{ solicitud.petitionType }}</p>
<p>Nombre del Solicitante: {{ solicitud.requesterName }}</p>
<p>Facultad del Solicitante: {{ solicitud.requesterFaculty }}</p>
<p>Motivo: {{ solicitud.motive }}</p>
<p>Entidad Bancaria: {{ solicitud.bankEntity }}</p>
<p>Tipo de Cuenta Bancaria: {{ solicitud.bankAccountType }}</p>
<p>Número de Cuenta Bancaria: {{ solicitud.bankAccountNumber }}</p>
<p>EPS: {{ solicitud.eps }}</p>
<p>Fondo de Pensiones: {{ solicitud.pensionFund }}</p>
<p>ARL: {{ solicitud.arl }}</p>
<p>Valor del Contrato: {{ solicitud.contractValue }}</p>
<p>Información de Pago: {{ solicitud.paymentInfo }}</p>
<!-- Agrega más detalles específicos de Other si es necesario -->
{% elif solicitud.monitoringType %}
<!-- Detalles específicos de Monitoring -->
<p>Tipo de Monitoreo: {{ solicitud.monitoringType }}</p>
<p>¿Hay Dinero en Cenco?: {{ solicitud.yesOrNoCenco }}</p>
<p>Responsable del Cenco: {{ solicitud.cencoResponsible }}</p>
<p>Código del Estudiante: {{ solicitud.studentCode }}</p>
<p>DAVI Plata: {{ solicitud.daviPlata }}</p>
<p>Proyecto o Curso: {{ solicitud.projectOrCourse }}</p>
<p>Descripción del Monitoreo: {{ solicitud.monitoringDescription }}</p>
<p>Horas por Semana: {{ solicitud.hoursPerWeek }}</p>
<p>Monto Total del Pago: {{ solicitud.totalPaymentAmount }}</p>
<p>¿Es un Pago Único?: {{ solicitud.yesOrNoPayment }}</p>
<!-- Agrega más detalles específicos de Monitoring si es necesario -->
{% endif %}

{% endblock %}