{% extends "layouts/base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/petitionStyle.css' %}">
<link rel="stylesheet" href="{% static 'styles/editPetition.css' %}">
<div class="cardContainer">
<h1>Editar Observación</h1>
<p></p>
<div class="textContainer">
    <p class="p1" >EEscribe la descripción de la observación que podrás visualizar junto al lider y al gestor encargado</p>
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="buttons" >
        <div class="divButton">
            <button name="cancelar" class="cancel">Cancelar</button>
        </div>
        <div class="divButton">
            <button type="submit">Guardar Cambios</button>
        </div>
    </div>

</form>
</div>
{% endblock  %}