{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
<title>Inicio - Tu Aplicación</title>
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock %}



{% block content %}
<div class="backgroundImage"></div>

<div class="cardContainer">
  <h1>Módulo Contratación</h1>
  <p>Una aplicación para gestionar solicitudes de contrato de manera eficiente.</p>

  <h2>Funcionalidades Destacadas</h2>
  <ul>
    {% if 'Admin' in request.user.getGroup %}
    <li>
      <a
        href="{% url 'signup' %}"
        class="nav-link {% if 'signup' in request.path %}active{% endif %}"
        ><i class="fa-solid fa-user-plus"></i>Crear Usuario</a
      >
    </li>
  {% endif %}
  {% if 'Lider de Proceso' in request.user.getGroup or 'Admin' in request.user.getGroup %}
  <li>
    <a
      href="{% url 'selectTypePetition' %}"
      class="nav-link {% if 'selectTypePetition' in request.path %}active{% endif %}"
      ><i class="fa-solid fa-file-circle-plus"></i> Crear Solicitudes</a
    >
  </li>
  <li>
    <a
      href="{% url 'viewPetitionWithoutUser' %}"
      class="nav-link {% if 'viewPetitionWithoutUser' in request.path %}active{% endif %}"
      ><i class="fa-solid fa-file-circle-exclamation"></i> Solicitudes sin Asignar</a
    >
  </li>
  {% endif %}
  <li>
    <a
      href="{% url 'viewPetition' %}"
      class="nav-link {% if 'asignar' in request.path %}active{% endif %}"
      ><i class="fa-solid fa-table-list"></i> Visualizar Solicitudes</a
    >
  </li>
  {% if 'Admin' in request.user.getGroup %}
    <li>
      <a
        href="{% url 'viewTaskPredeterminate' %}"
        class="nav-link {% if 'signup' in request.path %}active{% endif %}"
        ><i class="fa-solid fa-list-check"></i> Crear Tareas</a
      >
    </li>
  {% endif %}
  </ul>

  <p>Si tiene alguna pregunta o necesita ayuda, no dude en contactarnos.</p>
  
    <a href="mailto:modulocontratacion@gmail.com">modulocontratacion@gmail.com</a>
  
</div>
{% endblock %}
