{% extends 'layouts/base.html' %}

{% load static %}

{% block head %}
  <title>Rechazar solicitud</title>
  <link rel="stylesheet" href="{% static 'styles/rejactPetition.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="heading">¿Estás seguro de rechazar la solicitud?</h1>
    <form method="post">
      {% csrf_token %}
      <div class="buttons">
        <button name="cancelar" class="btn cancel">Cancelar</button>
        <button type="submit" name="rechazar" class="rejact">Rechazar</button>
      </div>
    </form>
  </div>
{% endblock %}
