{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<title>Tipo de Solicitud</title>

<link rel="stylesheet" href="{% static 'styles/selectTypePetition.css' %}">

<h1>Selecciona el tipo de Solicitud</h1>

<div class="buttons" >
    <div class="divButton">
        <a href="{% url 'createMonitoring' %}"><button>Monitoria</button></a>

    </div>
    <div class="divButton">
        <a href="{% url 'createOther' %}"><button>Otro tipo</button></a>
        <h4>Prestación de Servicios o Practicantes</h4>
    </div>
</div>

{% endblock %}