{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/selectTypePetition.css' %}">

<div class="cardContainer">

    <h1>Crear solicitud</h1>
   
    <div class="title-container">
        <div class="icon-text-container">
            <p>Seleccione el tipo de solicitud que desea crear</p>
        </div>
    </div>

    <div class="buttons">
        <div class="divButton">
            <a href="{% url 'createMonitoring' %}">
                <button>Monitoria</button>
            </a>
        </div>
        <div class="divButton">
            <a href="{% url 'createOther' %}">
                <button>Prestación de Servicios o Practicantes</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}
