{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/selectTypePetition.css' %}">

<div class="cardContainer">
    <div class="logo-container">
        <img src="{% static 'images/icesiLogo.png' %}">
    </div>
    <div class="title-container">
        <div class="icon-text-container">
            <img src="{% static 'images/addIcon.png' %}" alt="Add Icon" class="add-icon">
            <h1 class="logo-text">Crear monitoria, seleccione el tipo de monitoria que desea crear</h1>
        </div>
    </div>

    <div class="buttons">
        <div class="divButton">
            <a href="{% url 'createMonitoring' %}">
                <button>Monitoria</button>
            </a>
        </div>
        <div class="divButton">
            <a href="{% url 'createOther' %}">
                <button>Prestación de Servicios o Practicantes</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}
