{% extends 'layouts/base.html' %}

{% load static %}

{% block head %}
<title>Detalles de solicitud</title>
<link rel="stylesheet" href="{% static 'styles/editPetition.css' %}">
{% endblock %}



{% block content %}

<h1>Detalles de la Solicitud</h1>
<h3>Tipo de contrato: {{ solicitud.getPetitionType }}</h3>
<p>Fecha de Solicitud: {{ solicitud.petitionDate }}</p>
<p>Fecha de Inicio: {{ solicitud.startDate }}</p>
<p>Fecha de Fin: {{ solicitud.endDate }}</p>
<p>Estado: {{ solicitud.state }}</p>
<p>Cenco: {{ solicitud.cenco }}</p>
<p>Nombre Completo: {{ solicitud.fullName }}</p>
<p>Documento de Identidad: {{ solicitud.identityDocument }}</p>
<p>Correo Electrónico: {{ solicitud.email }}</p>
<p>Número de Teléfono: {{ solicitud.phoneNumber }}</p>
<!-- Detalles específicos de Monitoring -->
<p>Tipo de Monitoreo: {{ solicitud.monitoringType }}</p>
<p>¿Hay Dinero en Cenco?: {{ solicitud.yesOrNoCenco }}</p>
<p>Responsable del Cenco: {{ solicitud.cencoResponsible }}</p>
<p>Código del Estudiante: {{ solicitud.studentCode }}</p>
<p>DAVI Plata: {{ solicitud.daviPlata }}</p>
<p>Proyecto o Curso: {{ solicitud.projectOrCourse }}</p>
<p>Descripción del Monitoreo: {{ solicitud.monitoringDescription }}</p>
<p>Horas por Semana: {{ solicitud.hoursPerWeek }}</p>
<p>Monto Total del Pago: {{ solicitud.totalPaymentAmount }}</p>
<p>¿Es un Pago Único?: {{ solicitud.yesOrNoPayment }}</p>

<div><p>Gestor encargadoo: <b>{{ solicitud.getUser }}</b></p></div>
<!-- Agrega más detalles específicos de Monitoring si es necesario -->

{% if solicitud.state != 'rechazado' and solicitud.state != 'aprobado' %}
    <a href="{% url 'rejectPetition' solicitud.id %}"><button>Editar</button></a>
{% endif %}

{% endblock %}