{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<title>Solicitudes</title>

<link rel="stylesheet" href="{% static 'styles/viewPetition.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">


{% csrf_token %}
<h1>Solicitudes</h1>
<div>
    {% for petition in petitions %}
    <div class="card">
        <a href="{% url 'editPetition' petition.id %}">
            <h4>{{ petition.petitionDate }} - {{ petition.fullName }}</h4>
        </a>
        <p>Tipo de contrato: {{ petition.getPetitionType }}</p>
        <p>Cedula: {{ petition.identityDocument }}</p>
        <p>Fecha inicio: {{ petition.startDate }}</p>
        <p>Fecha fin: {{ petition.endDate }}</p>
        <form id="deleteForm{{ petition.id }}" action="{% url "deletePetition" petition.id%}" method="POST">
            {% csrf_token %}
            <button type="button" class="delete-icon" data-petition-id="{{ petition.id }}" onclick="confirmDelete({{ petition.id }})">
                <i class="fas fa-trash-alt"></i> Eliminar
            </button> 
        </form>
        
    </div>
    {% endfor %}

</div>
<script src="{% static 'scripts/deletePetition.js' %}"></script>
{% endblock %}