{% extends 'layouts/base.html' %}

{% load static %}

{% block head %}
<title>Detalles de solicitud</title>
<link rel="stylesheet" href="{% static 'styles/editPetition.css' %}">
<link rel="stylesheet" href="{% static 'styles/showPetition.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
{% endblock %}

{% block content %}

<div class="cardContainer">

    <div class="card" id="titleCard">
        <div class="title-and-buttons">
            <h1>Detalles de la Solicitud</h1>
            <div class="buttons">
                <div class="divButton">
                    {% if solicitud.state != 'rechazado' and solicitud.state != 'aprobado' %}
                        <a href="{% url 'rejectPetition' solicitud.id %}">
                            <button type="button" class="edit-icon" onclick="rejectPetition( {{solicitud.id}})">
                                <i class="fas fa-ban"></i> Rechazar
                            </button>
                        </a>
                    {% endif %}
                </div>
                {% if solicitud.getUser == 'Sin Asignar' %}
                    <a href="{% url 'assignPetition' solicitud.id %}">
                        <button type="button" class="edit-icon" onclick="assignPetition({{solicitud.id}})">
                            <i class="fa-solid fa-file-circle-exclamation"></i> Asignar
                        </button>
                    </a>
                {% endif %}
                <div class="divButton"></div>
            </div>
        </div>
    </div>

    <div class="cardGroup">
        <div class="card" id="generalData">
            <h3>Tipo de contrato: <b>{{ solicitud.getPetitionType }}</b></h3>
            <p><span class="label">Fecha de Solicitud:</span> <span class="value">{{ solicitud.petitionDate }}</span></p>
            <p><span class="label">Fecha de Inicio:</span> <span class="value">{{ solicitud.startDate }}</span></p>
            <p><span class="label">Fecha de Fin:</span> <span class="value">{{ solicitud.endDate }}</span></p>
            <p><span class="label">Estado:</span> <span class="value">{{ solicitud.getState }}</span></p>
            <p><span class="label">Cenco:</span> <span class="value">{{ solicitud.cenco }}</span></p>
            <p><span class="label">Nombre Completo:</span> <span class="value">{{ solicitud.fullName }}</span></p>
            <p><span class="label">Documento de Identidad:</span> <span class="value">{{ solicitud.identityDocument }}</span></p>
            <p><span class="label">Correo Electrónico:</span> <span class="value">{{ solicitud.email }}</span></p>
            <p><span class="label">Número de Teléfono:</span> <span class="value">{{ solicitud.phoneNumber }}</span></p>
            <p><span class="label">Gestor encargado:</span> <b>{{ solicitud.getUser }}</b></p>
        </div>

        <!-- Other Specific Details -->
        <div class="card" id="specificData">
            <h3>Tipo de Solicitud:<b> {{ solicitud.getPetitionType }}</b></h3>
            <p><span class="label">Nombre del Solicitante:</span> <span class="value"> {{ solicitud.requesterName }}</span></p>
            <p><span class="label">Facultad del Solicitante:</span> <span class="value"> {{ solicitud.requesterFaculty }}</span></p>
            <p><span class="label">Motivo:</span> <span class="value"> {{ solicitud.motive }}</span></p>
            <p><span class="label">Entidad Bancaria:</span> <span class="value"> {{ solicitud.bankEntity }}</span></p>
            <p><span class="label">Tipo de Cuenta Bancaria:</span> <span class="value"> {{ solicitud.bankAccountType }}</span></p>
            <p><span class="label">Número de Cuenta Bancaria:</span> <span class="value"> {{ solicitud.bankAccountNumber }}</span></p>
            <p><span class="label">EPS:</span> <span class="value"> {{ solicitud.eps }}</span></p>
            <p><span class="label">Fondo de Pensiones:</span> <span class="value"> {{ solicitud.pensionFund }}</span></p>
            <p><span class="label">ARL:</span><span class="value"> {{ solicitud.arl }}</span></p>
            <p><span class="label">Valor del Contrato:</span> <span class="value"> {{ solicitud.contractValue }}</span></p>
            <p><span class="label">Información de Pago:</span> <span class="value"> {{ solicitud.paymentInfo }}</span></p>

            <p><span class="label"></span> <span class="value"> <a href="{{ solicitud.rutAttachment.url }}" download><button>Descargar archivo RUT</button></a></span></p>

            
        </div>
    </div>

    <div class="card">
        <h2>Tareas del Gestor</h2>

        <!-- Task Form -->
        {% if solicitud.state != 'rechazado' and solicitud.state != 'aprobado' and solicitud.user == request.user %}

        <form method="POST" action="{% url 'update_tasks' solicitud.id %}">
            {% csrf_token %}
            {% for task in solicitud.tasks.all %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="task{{ task.id }}" name="tasks" value="{{ task.id }}" {% if task.isComplete %}checked{% endif %}>
                <label class="form-check-label" for="task{{ task.id }}">{{ task.description }}</label>
            </div>
            {% endfor %}
            <p></p>
            <button type="submit" class="btn btn-primary">Actualizar tareas</button>
        </form>

        {% else %}

        <!-- Task Details -->
        {% for task in tasks %}
        <div class="card">
            <p>{{ task.yesOrNoComplete }} {{ task.description }}</p>
            <p></p> 
        </div>
        {% endfor %}

        {% endif %}
    </div>
    <hr>
    <div class="card">
        <div class="button-petition">
        <!-- Observations -->
        <a href="{% url 'createObservation' petitionId %}"><button>Crear Observación</button></a>
        <p></p>
        {% if observations|length != 0 %}
        <button id="toggleObservationsBtn">Mostrar Observaciones</button>
    </div>
        <div id="observationsContainer" style="display: none;">
            <div class="dropdown">
                <div id="observationsDropdown" class="dropdown-content">
                    {% for observation in observations %}
                    <div class="carda">
                        <p><span class="label">Descripción:</span> <span class="value">{{ observation.description }}</span></p>
                        <p><span class="label">Fecha:</span> <span class="value">{{ observation.date }}</span></p>
                        <p><span class="label">Hora:</span> <span class="value">{{ observation.time }}</span></p>
                        <p><span class="label">Autor:</span> <span class="value">{{ observation.getAuthor }}</span></p>
                    
                    {% if observation.author.username == request.user.username %}
                    <div class="buttons">
                        <div class="divButton">
                            {% csrf_token %}  
                            <a href="{% url 'deleteObservation' observation.id petitionId %}" ><button type="button" class="delete-icon" onclick="deleteObservation({{observation.id}}, {{petition.id}})">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </button>
                            </a>
                        </div>
                        <div class="divButton">
                            {% csrf_token %}
                            <a href="{% url 'editObservation' petitionId observation.id %}" id="editForm{{ observation.id }}">
                                <button type="button" class="edit-icon" onclick="editObservation({{ petition.id }}, {{ observation.id }})">
                                    <i class="fas fa-edit"></i> Editar
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    
    </div>

</div>

<script src="{% static 'scripts/viewObservation.js' %}"></script>
{% endblock %}
