{% extends 'layouts/base.html' %}

{% load static %}

{% block head %}
<title>Detalles de solicitud</title>
<link rel="stylesheet" href="{% static 'styles/editPetition.css' %}">
{% endblock %}



{% block content %}


<h1>Detalles de la Solicitud</h1>
<h3>Tipo de contrato: {{ solicitud.getPetitionType }}</h3>
<p>Fecha de Solicitud: {{ solicitud.petitionDate }}</p>
<p>Fecha de Inicio: {{ solicitud.startDate }}</p>
<p>Fecha de Fin: {{ solicitud.endDate }}</p>
<p>Estado: <b>{{ solicitud.state }}</b></p>
<p>Cenco: {{ solicitud.cenco }}</p>
<p>Nombre Completo: {{ solicitud.fullName }}</p>
<p>Documento de Identidad: {{ solicitud.identityDocument }}</p>
<p>Correo Electrónico: {{ solicitud.email }}</p>
<p>Número de Teléfono: {{ solicitud.phoneNumber }}</p>
<!-- Detalles específicos de Other -->
<p>Tipo de Solicitud: {{ solicitud.getPetitionType }}</p>
<p>Nombre del Solicitante: {{ solicitud.requesterName }}</p>
<p>Facultad del Solicitante: {{ solicitud.requesterFaculty }}</p>
<p>Motivo: {{ solicitud.motive }}</p>
<p>Entidad Bancaria: {{ solicitud.bankEntity }}</p>
<p>Tipo de Cuenta Bancaria: {{ solicitud.bankAccountType }}</p>
<p>Número de Cuenta Bancaria: {{ solicitud.bankAccountNumber }}</p>
<p>EPS: {{ solicitud.eps }}</p>
<p>Fondo de Pensiones: {{ solicitud.pensionFund }}</p>
<p>ARL: {{ solicitud.arl }}</p>
<p>Valor del Contrato: {{ solicitud.contractValue }}</p>
<p>Información de Pago: {{ solicitud.paymentInfo }}</p>

<div>
    <p>Gestor encargado: <b>{{ solicitud.getUser }}</b></p>
</div>
<!-- Agrega más detalles específicos de Other si es necesario -->
<div class="buttons">
    {% if solicitud.state != 'rechazado' and solicitud.state != 'aprobado' %}
    <a href="{% url 'rejectPetition' solicitud.id %}"><button>Editar</button></a>
    {% endif %}
    <p></p>
    {% if solicitud.getUser == 'Sin Asignar' %}
    <a href="{% url 'assignPetition' solicitud.id %}"><button>Asignar</button></a>
    {% endif %}
</div>

{% endblock %}