body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 340px;
    height: 107.58px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #2000fb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: max-content;
    max-width: 30%;
    width: 30%;
}

.password-input {
    position: relative;
}

.bx {
    font-size: 28px;
    position: absolute;
    top: 55%;
    right: 24px;
    transform: translateY(-50%);
    cursor: pointer;
}

.error-message {
    background-color: #ffdddd;
    /* Color de fondo del recuadro de error */
    color: #000;
    /* Color del texto del mensaje de error (negro) */
    padding: 10px;
    /* Espaciado interno del recuadro de error */
    border-radius: 5px;
    /* Borde redondeado del recuadro de error */
    margin-top: 10px;
    /* Espaciado superior del recuadro de error */
    margin-bottom: 100px;
    /* Espaciado inferior del recuadro de error */
}