{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo de Restablecimiento de Contraseña</title>
    <link rel="stylesheet" href="{% static 'styles/resetPassword.css' %}">
</head>

<body>
<div class="backgroundImage"></div>

    <div class="container">
        <div class="backgroundImage"></div>
        <img class="logo" src="{% static 'images/icesiLogo.png' %}">
        <h2 class="text-center">Se ha enviado un correo con un enlace para restablecer la contraseña.</h4>
    </div>
</body>
</html>
