{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/loginStyles.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    {{ form.errors }}

    <form action="/signup" method="POST">
        {% csrf_token %}
        <div>
            <img style="width: 340px; height: 107.58px" src="{% static 'images/icesiLogo.png' %}">
        </div>
        <div style="margin-top: 15px">
            {{ form.username.label_tag }}
            {{ form.username }}
            
            {{ form.password1.label_tag }}
            <div class="password-input">
                {{ form.password1 }}
                <i class='bx bx-show-alt' id="togglePassword"></i>
            </div>
            

            {{ form.password2.label_tag }}
            {{ form.password2 }}

            {{ form.cedula.label_tag }}
            {{ form.cedula }}
            
            {{ form.email.label_tag }}
            {{ form.email }}

            {{ form.userType.label_tag }}
            {{ form.userType }}

            {{ form.first_name.label_tag }}
            {{ form.first_name }}

            {{ form.last_name.label_tag }}
            {{ form.last_name }}

            <button type="submit">Ingresar</button>
        </div>
    </form>
    
    <script src="{% static 'scripts/signup.js' %}"></script>
    
</body>
</html>
