{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/loginStyles.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    {{ form.errors }}

    <form action="/signup" method="POST">
        {% csrf_token %}
        <div>
            <img style="width: 340px; height: 107.58px" src="{% static 'images/icesiLogo.png' %}">
        </div>
        <div style="margin-top: 15px">


            <label for="{{ form.username.id_for_label }}">Cédula:</label>
            {{ form.username }}

            <label for="{{ form.first_name.id_for_label }}">Nombre:</label>
            {{ form.first_name }}

            <label for="{{ form.last_name.id_for_label }}">Apellido:</label>
            {{ form.last_name }}

            <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
            {{ form.email }}

            <div class="password-input">
                <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
                {{ form.password1 }}
                <i class='bx bx-show-alt'></i>
            </div>
            
            <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
            {{ form.password2 }}

            <button type="submit">Registrarse</button>
        </div>
    </form>
    
    <script src="{% static 'scripts/signup.js' %}"></script>
    
</body>



</html>
