button {
    max-width: 25%;
    min-width: max-content;
    width: 50%;
    padding: 10px;
    background-color: #2000fb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.divButton {
    width: 30%;
    min-width: max-content;
}

.delete-icon,
.cancel {
    background-color: red;
}


.custom-progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f8f9fa;
    border-radius: 4px;
}

.custom-progress-bar {
    width: 0;
    height: 100%;
    background-color: #007bff;
}