.cardContainer {
    min-width: max-content;
    max-width: 60%;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
}

.card {
    margin-bottom: 20px; /* Agregamos un margen entre los cards */
}

button {
    max-width: 25%;
    min-width: max-content;
    width: 50%;
    padding: 10px;
    background-color: #2000fb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons {
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    text-decoration: none;
}

.divButton {
    width: 30%;
    min-width: max-content;
}

.delete-icon,
.cancel {
    background-color: red;
}

.custom-progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f8f9fa;
    border-radius: 4px;
}

.custom-progress-bar {
    width: 0;
    height: 100%;
    background-color: #007bff;
}
