.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('/static/images/indexImage.png');
    background-size: cover;
    background-position: center;
}

.cardContainer {
    min-width: max-content;
    max-width: 60%;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardContainer i {
    /* Ajusta el color, tamaño, margen y cualquier otro estilo que desees para los íconos */
    color: rgb(0, 0, 0);
    /* Color del ícono */
    font-size: 20px;
    /* Tamaño del ícono */
    margin-right: 5px;
    /* Espacio a la derecha del ícono */

    margin-top: 5%;
}


h1 {
    color: #2000fb;
    font-weight: bold !important;
}

h2 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-link {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
}