body {
    margin: 0 !important;
    font-family: Arial !important;
    background-color: #f0f3fc; /* Establecer el color de fondo */
}

button {
    max-width: 25%;
    min-width: max-content;
    width: 50%;
    padding: 10px;
    color: #2000fb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav img {
    display: block !important;
    margin: 0 auto !important;
    width: 80% !important;
    margin-bottom: 20px !important;
}

.top-section img{
    height: 40px;
    width: 40px;
}

.navbarContainer {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    padding-top: 20px;
    background-color: #ffffff;
    transition: all 200ms linear;
}

.navbarContainer.active {
    left: 0px;
}

.navbarContainer ul {
    list-style: none;
    padding: 0;
}

.navbarContainer li {
    margin-bottom: 10px;
}

.navbarContainer a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    padding: 10px;
    transition: 0.3s;
}

main {
    margin-left: 250px !important;
    padding: 16px !important;
    flex-grow: 1 !important;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: #2000fb !important; 
    text-decoration: none; 
}

title {
    display: none !important;
}

#navbarContainer .bars__menu {
    position: absolute;
    left: 250px;
    top: 20px;
    cursor: pointer;
  }
  
  #navbarContainer .bars__menu span {
    display: block;
    width: 40px;
  }

.bars__menu{
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bars__menu span {
    display: block;
    height: 2px;
    background: #2000fb;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 330ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, -3px); 
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px; 
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 7px);
}

.top-section {
    display: flex;
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-section h1 {
    font-size: 24px;
    margin: 0;
}