body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif !important;
    background-color: #f0f3fc;
    /* Establecer el color de fondo */
}



.notification-icon,
.log-out-icon {
    max-width: 50%;
    min-width: max-content;
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
    color: #2000fb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}

.navbarContainer i {
    /* Ajusta el color, tamaño, margen y cualquier otro estilo que desees para los íconos */
    color: black;
    /* Color del ícono */
    font-size: 20px;
    /* Tamaño del ícono */
    margin-right: 5px;
    /* Espacio a la derecha del ícono */

    margin-top: 5%;
}



nav img {
    display: block !important;
    margin: -4% auto 0 auto !important;
    width: 130px !important;
    height: 50px !important;
}

.navbarContainer {
    min-height: 100vh;
    ;
    width: 250px;
    position: absolute;
    top: 0;
    left: -250px;
    padding-top: 0px;
    background-color: #ffffff;
    transition: all 330ms;
}

.left-content {
    display: flex;
    align-items: center;
    transition: all 330ms;
}

.left-content.move-right {
    transform: translateX(111%);
    transition: all 330ms;
    /* Agregamos la transición aquí */
}

/*.move-container .logo {
    margin-right: 10px; 
}*/


.navbarContainer.active {
    left: 0px;
}

.navbarContainer ul {
    list-style: none;
    padding: 0;
}

.navbarContainer li {
    margin-bottom: 10px;
    align-items: center;
}

.navbarContainer a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    padding: 10px;
    transition: 0.3s;
}

main {
    margin-left: 250px !important;
    padding: 16px !important;
    flex-grow: 1 !important;
}


.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: #2000fb !important;
    text-decoration: none !important;
}

.nav-link:hover i,
.nav-link:focus i,
.nav-link.active i {
    color: #2000fb !important;
    text-decoration: none !important;
}

title {
    display: none !important;
}

#navbarContainer .bars__menu {
    position: relative;
    left: 250px;
    top: 20px;
    cursor: pointer;
}

#navbarContainer .bars__menu span {
    display: block;
    width: 40px;
}

.bars__menu {
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bars__menu span {
    display: block;
    height: 2px;
    background: #2000fb;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 330ms;
}

.activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, -3px);
}

.activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
}

.activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 7px);
}

.buttonX {
    position: absolute;
    /* Posiciona el botón de manera absoluta en relación con su contenedor */
    top: 0;
    /* Coloca el botón en la parte superior */
    right: 0;
    width: 100%;
    /* Haz que el botón ocupe todo el ancho del contenedor */
    height: 50px;
    /* Haz que el botón ocupe todo el alto del contenedor */
    opacity: 0;
    /* Establece la opacidad del botón en cero */
    /* Agrega otros estilos según sea necesario, como tamaño de fuente, color, etc. */
}


.top-section {
    display: flex !important;
    padding: 12px !important;
    align-items: center !important;
    background-color: #ffffff !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.left-content {
    display: flex;
    align-items: center;
}

.right-content {
    display: flex;
    margin-left: auto;
    /* Esto empujará los elementos a la derecha */
}


.top-section img {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    margin-left: 50px;
}

.top-section-title {
    color: #333 !important;
    font-size: 24px !important;
    margin: 0 !important;
    font-weight: bold !important;
}

.imgContainer {
    margin-bottom: 10%;
}