body {
    margin: 0 !important;
    font-family: Arial !important;
    background-color: #f0f3fc; /* Establecer el color de fondo */
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-section h1 {
    font-size: 24px;
    margin: 0;
    margin-left: 250px;
}

#notification-btn {
    background-color: #007bff;
    color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 25px;
    padding: 12px 24px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
}

#notification-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#notification-btn:focus {
    outline: none;
}

#notification-btn:active {
    background-color: #004080;
}



.navbarContainer {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    background-color: #ffffff;
}

.navbarContainer ul {
    list-style: none;
    padding: 0;
}

.navbarContainer li {
    margin-bottom: 10px;
}

.navbarContainer a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    padding: 10px;
    transition: 0.3s;
}

main {
    margin-left: 250px !important;
    padding: 16px !important;
    flex-grow: 1 !important;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: #2000fb !important; 
    text-decoration: none; 
}

title {
    display: none !important;
}

/* Modal */

#modal::backdrop {
    background-color: rgba(0, 0, 0, .55);
}

#modal {
    max-width: 50c;
}