{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src="{% static 'scripts/main.js' %}"></script>
    {% block head %} {% endblock %}
  </head>

  <body>
    <nav class="navbarContainer">
      <img
        style="width: 160px; height: 57px"
        src="{% static 'images/icesiLogo.png' %}"
      />
      <ul>
        <li>
          <a
            href="{% url 'index' %}"
            class="nav-link {% if request.path == '/' %}active{% endif %}"
            >Inicio</a
          >
        </li>
        {% if 'Admin' in request.user.getGroup %}
          <li>
            <a
              href="{% url 'signup' %}"
              class="nav-link {% if 'signup' in request.path %}active{% endif %}"
              >Crear usuario</a
            >
          </li>
        {% endif %}
        {% if 'Lider de Proceso' in request.user.getGroup or 'Admin' in request.user.getGroup %}
        <li>
          <a
            href="{% url 'selectTypePetition' %}"
            class="nav-link {% if 'selectTypePetition' in request.path %}active{% endif %}"
            >Crear Solicitudes</a
          >
        </li>
        <li>
          <a
            href="{% url 'viewPetitionWithoutUser' %}"
            class="nav-link {% if 'viewPetitionWithoutUser' in request.path %}active{% endif %}"
            >Solicitudes sin asignar</a
          >
        </li>
        {% endif %}
        <li>
          <a
            href="{% url 'viewPetition' %}"
            class="nav-link {% if 'asignar' in request.path %}active{% endif %}"
            >Visualizar Solicitudes</a
          >
        </li>
        {% if 'Admin' in request.user.getGroup %}
          <li>
            <a
              href="{% url 'viewTaskPredeterminate' %}"
              class="nav-link {% if 'signup' in request.path %}active{% endif %}"
              >Crear Tareas de Solicitudes</a
            >
          </li>
        {% endif %}
        <li>
          <a
            href="{% url 'logoutSesion' %}"
            class="nav-link {% if 'logoutSesion' in request.path %}active{% endif %}"
            >Cerrar sesion</a
          >
        </li>
      </ul>
    </nav>

    <!-- Top section -->
    <div class="top-section">
      <h1>Módulo de Contratación</h1>
      
    </div>


    <main class="container">
      
      <button id="notification-btn">Notificaciones</button>
    <dialog id="modal">
      <h2>Sikas..................................................................................................................</h2>
      <div id="notifications">
        <ul>
            {% for notification in notifications %}
                <li>{{ notification.verb }}</li>
                <!-- Puedes agregar más detalles de la notificación aquí -->
            {% endfor %}
        </ul>
    </div>
      <button id="btn-cerrar-modal">Cerrar</button>
    </dialog>
    {% block content %} {% endblock %}</main>
  </body>
</html>
