{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>

    <nav class="navbar container">
        <ul>
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'selectTypePetition' %}">Solicitudes</a>
            </li>
            <li><a href="">Asignar</a></li>
            <li><a href="{% url 'signup' %}">Crear usuario</a></li>
        </ul>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>