{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src="{% static 'scripts/main.js' %}"></script>
    {% block head %} {% endblock %}
  </head>

  <body>
    
    <nav class="navbarContainer" id="navbarContainer">
      <div class="bars__menu">
        <span class="line1__bars-menu"></span>
        <span class="line2__bars-menu"></span>
        <span class="line3__bars-menu"></span>
      </div>
      <img
        style="width: 150px; height: 56.58px"
        src="{% static 'images/icesiLogo.png' %}"
      />
      <ul>
        <li>
          <a
            href="{% url 'index' %}"
            class="nav-link {% if request.path == '/' %}active{% endif %}"
            >Inicio</a
          >
        </li>
        {% if 'Admin' in request.user.getGroup %}
          <li>
            <a
              href="{% url 'signup' %}"
              class="nav-link {% if 'signup' in request.path %}active{% endif %}"
              >Crear usuario</a
            >
          </li>
        {% endif %}
        {% if 'Lider de Proceso' in request.user.getGroup or 'Admin' in request.user.getGroup %}
        <li>
          <a
            href="{% url 'selectTypePetition' %}"
            class="nav-link {% if 'selectTypePetition' in request.path %}active{% endif %}"
            >Crear Solicitudes</a
          >
        </li>
        <li>
          <a
            href="{% url 'viewPetitionWithoutUser' %}"
            class="nav-link {% if 'viewPetitionWithoutUser' in request.path %}active{% endif %}"
            >Solicitudes sin asignar</a
          >
        </li>
        {% endif %}
        <li>
          <a
            href="{% url 'viewPetition' %}"
            class="nav-link {% if 'asignar' in request.path %}active{% endif %}"
            >Visualizar Solicitudes</a
          >
        </li>
        {% if 'Admin' in request.user.getGroup %}
          <li>
            <a
              href="{% url 'viewTaskPredeterminate' %}"
              class="nav-link {% if 'signup' in request.path %}active{% endif %}"
              >Crear Tareas de Solicitudes</a
            >
          </li>
        {% endif %}
        <li>
          <a
            href="{% url 'logoutSesion' %}"
            class="nav-link {% if 'logoutSesion' in request.path %}active{% endif %}"
            >Cerrar sesion</a
          >
        </li>
      </ul>
    </nav>

    

    <!-- Top section -->
    <div class="top-section">
      <img
        src="{% static 'images/icesiRuedaAzul.png' %}"
      />
      <h1>Módulo de Contratación</h1>
    </div>

    <main class="container">{% block content %} {% endblock %}</main>

    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>
